DB_USER=serverDB_user
DB_USERPASSWORD=somepassword
DATABASE=serverDB
PORT=3100
API_SERVER_URL=http://localhost:3100
CLIENT_URL=http://localhost:3000
COOKIE_SECRET=SomeSecretText
SESSION_NAME=CookieName